@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>""</p>
    <P> ร้านขายขนมที่แซ่บที่สุดในประเทศไทย </P>
    <img src="\images\INVENTORY SYSTEM.png" width="50%" />
</div>
